*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: #16c623;
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
.sign-in-out{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    border-radius: 15px;
    border: 1px solid white;

}
.sign-in-out li:last-child{
    background-color: #000000;
    padding: 7px;
    border-radius: 0px 15px 15px 0px;
}
.left-text{
    position: absolute;
    top: 200px;
    left: 200px;
    max-width: 300px;
    color: white;
}

.left-text h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.left-text p{
    font-size: 18px;
    margin-bottom: 20px;
}
.left-text a{
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
}
header img{
    position: absolute;
    top: 100px;
    right: 300px;
    width: 800px;
}
/*-----------------cards-----------------*/

.card-container{
    width: 100%;
    height: 100vh;
    color: white;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    flex-basis:20% ;
    background-color: black;
}
.card:hover{
    transform: translateY(-5%);
    transition: 0.3s;
}
.card-title1{
    background-image: url(../image/pexels-scott-webb-1029639.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
   
}

.card-title2{
    background: url(../image/pexels-pixabay-414144.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
   
}

.card-title3{
    background: url(../image/pexels-george-becker-126658.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
   
}
.card-body{
    padding: 15px;
}
.card-body h2{
    margin: 10px;
}
#btn-one{
    padding: 5px;
    background-color: orange;
    border: none;
    margin: 20px 0px;
}